[user]
	name = Arvid Mildner
	email = mildner.arvid@gmail.com
	username = arvid
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	autocrlf = input
[init]
	defaultBranch = main
[color]
	ui = true
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = false
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	cp = cherry-pick
	yeet = push -f
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	fixup = commit --amend --no-edit
	alias = config --global alias.
	wip = add . && git commit -m "wip" --no-verify
	st = status
    camp = !git cm --amend --no-edit && git push --force-with-lease
	ci = commit
	br = branch
	cm = commit
	co = checkout
	gr=log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	lol=log --decorate --oneline --graph --all
	lof=log --oneline --decorate --all --graph --first-parent
	loa=log --decorate --oneline --graph
	lob=log --decorate --oneline --graph --first-parent
	branchdate = "for-each-ref --sort=committerdate refs/heads/ --format=%(authordate:short)%09%(objectname:short)%09%1B[0;33m%(refname:short)%1B[m%09"

	graphlog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative


	# Get the child (one step newer) commit of the current commit.
	# Use first argument instead of 'HEAD' if given. Use second argument instead of current branch if given.
	# Based on code in https://stackoverflow.com/questions/1761825/referencing-the-child-of-a-commit-in-git/21032988
	child = !sh -c 'git log --format=%H --reverse --ancestry-path ${0:-HEAD}..${1:\"$(git rev-parse --abbrev-ref HEAD)\"} | head -1'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
